<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IBT Josué Gil</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/resume.css" rel="stylesheet">

  <!--Favicon-->
  <link  rel="icon"   href="https://asbiomad.es/contenido/Logo-sitio.png" type="image/png">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Josué Gil</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/profile3.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Extracto profesional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Educación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Intereses</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Josué Antonio
          <span class="text-primary">Gil Gamez</span>
        </h1>
        <div class="subheading mb-5">
          <a href="mailto:name@email.com">josuegamez7@gmail.com</a>
        </div>
        <p class="lead mb-5">Ingeniero biotecnólogo egresado del Instituto Politécnico Nacional con experiencia y gusto en microbiología, Ingeniería de procesos, investigación y desarrollo de nuevos productos y servicios, me he desempeñado como jefe de producción, asistente de laboratorio de microbiología y como gestor de calidad en productos lácteos.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/josue-antonio-gil-gamez-393428138/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://www.facebook.com/devianazrael">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://api.whatsapp.com/send?phone=524621061202&text=Hola!%20me%20interesa%20tu%20perfil%20laboral.">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experiencia</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Ingeniero de desarrollo de biofertilizante</h3>
            <div class="subheading mb-3">Univex S. A.</div>
            <p>Experimentación, investigación, seguimiento e implementación y arranque de nuevos procesos, registro, normativas y desarrollo de nuevos productos.</p>
            <strong>Logro destacado:</strong><p>Desarrollo de un biofertilizante a base de microalgas, selección e instalación de equipos y elaboración de manuales de proceso.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Septiembre 2017 - Abril 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Ingeniero y jefe de producción y mejora continua</h3>
            <div class="subheading mb-3">Grupo SOLENA S.A. de C.V.</div>
            <p>Asegurar la calidad del producto, supervisar la producción, controlar el manejo y distribución de la materia prima. Diseñar y controlar el inventario, salidas y entradas de producto.</p>
            <strong>Logro destacado:</strong><p>Diseño e implementación de un ERP para el almacén de producto terminado y materia  prima.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Enero 2016 - Marzo 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"> Técnico analista de control de calidad</h3>
            <div class="subheading mb-3"> Productos Lacteos Blanquita S.A de C.V</div>
            <p>Realizar análisis fisicoquímico de la materia prima. Asegurar la calidad y limpieza de los equipos de operación y transporte.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Agosto 2009 - Enero 2010</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Educación</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Universidad de Almería</h3>
            <div class="subheading mb-3">Curso: Desarrollo de habilidades directivas de emprendimiento y gestión de negocios internacionales</div>
          </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Julio 2019</span>
          </div>
        </div><br>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Instituto Politécnico Nacional (UPIIG)</h3>
            <div class="subheading mb-3">Seminario de titulación: Automatización Aplicada a la Gestión de la Manufactura</div>
          </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">Enero 2016 - Julio 2016</span>
          </div>
        </div><br>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Instituto Politécnico Nacional (UPIIG)</h3>
            <div class="subheading mb-3">Ingeniero Biotecnólogo</div>  
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Agosto 2010 - Diciembre 2015</span>
          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Habilidades</h2>

        <div class="subheading mb-3">Idiomas</div>
        <ul class="fa-ul mb-0">
          <div>
            <li>
              <i class="fa-li fa fa-check"></i>Español (Lengua Nativa)
              <div class="progress col-md-4">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>Inglés 
              <div class="progress col-md-4">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
          </div>
        </ul>
        <br>

        <div class="subheading mb-3">Comunicación</div>
        <ul class="fa-ul mb-0">
          <div>
            <li>
              <i class="fa-li fa fa-check"></i>Facilidad de palabra
              <div class="progress col-md-4">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>Escucha activa
              <div class="progress col-md-4">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
          </div>
        </ul><br>

      <div class="subheading mb-3">Digitales</div>
        <ul class="fa-ul mb-0">
          <div>
            <li>
              <i class="fa-li fa fa-check"></i>Microsoft Office ™ (Word, Excel, Power Point)
              <div class="progress col-md-4">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>C language
              <div class="progress col-md-4">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
          </div>
        </ul><br>

        <div class="subheading mb-3">Laborales</div>
        <ul class="fa-ul mb-0">
          <div>
            <li><i class="fa-li fa fa-check"></i>Diseñar y operar equipos de bioprocesos.</li>
            <li><i class="fa-li fa fa-check"></i>Diseñar, evaluar y garantizar la calidad de los procesos de producción y recuperación de productos biotecnológicos.</li>
            <li><i class="fa-li fa fa-check"></i>Desarrollar proyectos de ingeniería biotecnológica.</li>
            <li><i class="fa-li fa fa-check"></i>Usar herramientas biotecnológicas y computacionales para mejorar productos, procesos o servicios.</li>
          </div>
        </ul>

    </section>
    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Intereses</h2>
        <p> Soy un profesionista con hambre de conocimiento y con entusiasmo y ganas por aportar a las personas mis conocimientos y experiencias, haciendo uso de la comunicación asertiva y convivencia, me gusta practicar deportes y actividades al aire libre, aprecio y disfruto pasar tiempo con amigos y familia, gusto de , practicar y disfrutar diversas expresiones de arte.</p>
        <p class="mb-0"></p>
      </div>
    </section>

    <hr class="m-0">

    

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

</body>

</html>
